<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

<div class="container">
  <div class="card m-5 p-3">
    <form class="form-inline" (ngSubmit)="ngOnInit()">
      <div class="form-group mb-2">
        <label for="country" class="sr-only">country</label>
        <input type="text" class="form-control" id="country" [(ngModel)]="country" name="country" placeholder="country name">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="state" class="sr-only">state</label>
        <input type="text" class="form-control" id="state" [(ngModel)]="state" name="state" placeholder="state">
      </div>
      <button type="submit" class="btn btn-primary mb-2">Filter</button>
    </form>
    <div class="card-body">
      <table datatable class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>country code</th>
            <th>number</th>
            <th>country</th>
            <th>state</th>

          </tr>
        </thead>
        <tbody>
          <tr mdbTableCol *ngFor="let phone of phones">
            <td>{{phone.id}}</td>
            <td>{{phone.name}}</td>
            <td>{{phone.country_code}}</td>
            <td>{{phone.number}}</td>
            <td>{{phone.country}}</td>
            <td>{{phone.state}}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>